{% extends "layout.html" %}

{% block body %}

<br><br>
<div class="text-center">

    <br>

    <h3>Matematik Dünyamıza Hoşgeldiniz</h3>
    <hr>
    <style>
        .write {
          background-color: rgb(208, 150, 241);
          color: #111111;
          margin: 20px;
          padding: 80px;
          font-style: italic;
        
        }
    </style>

    

    <p class="write" style="font-size: 130%;" >“Bilim deyince, onda hakikat diye öne sürdüğü önermelerin pekin olmasını ister; pekinlik ise en mükemmel şekliyle matematikte bulunur.” <br> M. Kemal Atatürk </p>
    <p style="font-size: 110%;  "> Merhaba, Ben Selen. Yazılım ile olan yolculuğumu mezun olduğum bölüm matematik ile kesiştirmek istedim ve benim için 
        pratik olacak bu web projesini tasarladım.Hem eğlendirici hem de bilgilendirici olan bu blog projesine kendi makaleniz ile 
        katkıda bulunmak isterseniz sitemize üye olup panelinizdeki ilgili alanda yazınızı yazabilir dilediğiniz 
        zaman güncelleyebilirsiniz.Şimdiden teşekkür ederim. </p>

    <p>Aramıza Hoşgeldiniz!</p>

    
    


</div>


  
{% endblock body %}